<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
	<style>
		main .container {
			max-width: 100%;
		}
	</style>
</head>
<body>
	<header class="texture-{{ site.texture.style }}">
		<div class="container">
			{%- include nav.html -%}
		</div>
		{%- include page_header.html -%}	
	</header>
	<main>
		<div class="container">
			{{ content }}
		</div>
		<p class="foot">Utah Valley Mutual Aid &mdash; Solidarity over charity. &mdash; Organizing resources & support for our communities during the COVID–19 pandemic.</p>
	</main>
	{%- include footer.html -%}
</body>
</html>